# Required
NIGHTSCOUT_URL=
PIXOO_HOST=

# Display settings
PIXOO_SCREEN_SIZE=64
CHANNEL_TIME=30
LAYOUT=v2
SHOW_CLOUD=True
SHOW_FACES=False

# SGV thresholds and color settings
GLUCOSE_URGENT_LOW=55
GLUCOSE_LOW=90
GLUCOSE_NORMAL_MAX=150
GLUCOSE_HIGH=300
COLOR_URGENT_LOW=#FF0000
COLOR_LOW=#FFFF00
COLOR_NORMAL=#FFFFFF
COLOR_HIGH=#FF9900
COLOR_URGENT_HIGH=#FF0000